{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}



{% block content %}
    <main class="main">
        <div class="main__bg-image"></div>
        <div class="main__bg-gradient"></div>
        <div class="main__container container">
            <div class="main__sidebar main-sidebar">
                <div class="main-sidebar__logo">
                    <a class="logo" href="#">
                        <img class="logo__image" src="images/logo.svg" alt="">
                    </a>
                </div>
                <ul class="main-sidebar__nav sidebar-nav">
                    <li class="sidebar-nav__item sidebar-nav__item_active">
                        <a class="sidebar-nav__link" href="#">Решения</a>
                    </li>
                    <li class="sidebar-nav__item">
                        <a class="sidebar-nav__link" href="#">Проекты</a>
                    </li>
                    <li class="sidebar-nav__item">
                        <a class="sidebar-nav__link" href="#">Партнерам</a>
                    </li>
                    <li class="sidebar-nav__item">
                        <a class="sidebar-nav__link" href="#">Лицензионная <br> политика</a>
                    </li>
                    <li class="sidebar-nav__item">
                        <a class="sidebar-nav__link" href="#">Учебный центр</a>
                    </li>
                    <li class="sidebar-nav__item">
                        <a class="sidebar-nav__link" href="#">Поддержка</a>
                    </li>
                    <li class="sidebar-nav__item">
                        <a class="sidebar-nav__link" href="#">О компании</a>
                    </li>
                    <li class="sidebar-nav__item">
                        <a class="sidebar-nav__link" href="#">Контакты</a>
                    </li>
                </ul>
            </div>

            <div class="main__content main-content">
                <div class="main-content__header">
                    <div class="main-nav">
                        <div class="main-nav__title">Решения для ИТ </div>
                        <div class="main-nav__content">
                            <nav class="main-nav-list">
                                <a class="main-nav-list__item" href="#">Контроль</a>
                                <a class="main-nav-list__item main-nav-list__item_active" href="#">Универсальность</a>
                                <a class="main-nav-list__item" href="#">Экономия времени</a>
                                <a class="main-nav-list__item" href="#">Открытость</a>
                                <a class="main-nav-list__item" href="#">Масштабируемость</a>
                            </nav>
                        </div>
                    </div>
                </div>
                <h1 class="main-content__title">Универсальность</h1>
                <div class="main-content__main">
                    <div class="main-grid">
                        <div class="main-grid__item grid-item">
                            <div class="grid-item__content">
                                <div class="grid-item__title">Лабораторная информационная система</div>
                                <div class="grid-item__descr">
                                    <ul class="st-list">
                                        <li class="st-list__item">Поддержка одно- и двунаправленного обмена</li>
                                        <li class="st-list__item">Поддержка протоколов ASTM, LIMS и их вариаций</li>
                                        <li class="st-list__item">Готовые драйверы к более чем 130 типам анализаторов</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="main-grid__item grid-item">
                            <div class="grid-item__content">
                                <div class="grid-item__title">Радиологическая информационная система</div>
                                <div class="grid-item__descr">
                                    <ul class="st-list">
                                        <li class="st-list__item">Поддержка стандарта DICOM, позволяющего подключить любой современный прибор</li>
                                        <li class="st-list__item">Готовые модули интеграции с внешними PACS ведущих производителей: AGFA, SIEMENS, PHILIPS  и пр.</li>
                                        <li class="st-list__item">Настройка контролей и логики импорта изображений</li>
                                        <li class="st-list__item">Возможность работы с различными файловыми хранилищами</li>
                                        <li class="st-list__item">Возможность использования внешних редакторов</li>
                                        <li class="st-list__item">Встроенный DICOM-Viewer</li>
                                        <li class="st-list__item">Поддержка стандарта DICOM, позволяющего подключить любой современный прибор</li>
                                        <li class="st-list__item">Готовые модули интеграции с внешними PACS ведущих производителей: AGFA, SIEMENS, PHILIPS  и пр.</li>
                                        <li class="st-list__item">Настройка контролей и логики импорта изображений</li>
                                        <li class="st-list__item">Возможность работы с различными файловыми хранилищами</li>
                                        <li class="st-list__item">Возможность использования внешних редакторов</li>
                                        <li class="st-list__item">Встроенный DICOM-Viewer</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="main-grid__item grid-item">
                            <div class="grid-item__content">
                                <div class="grid-item__title">Радиологическая информационная система</div>
                                <div class="grid-item__descr">
                                    <ul class="st-list">
                                        <li class="st-list__item">Поддержка стандарта DICOM, позволяющего подключить любой современный прибор</li>
                                        <li class="st-list__item">Готовые модули интеграции с внешними PACS ведущих производителей: AGFA, SIEMENS, PHILIPS  и пр.</li>
                                        <li class="st-list__item">Настройка контролей и логики импорта изображений</li>
                                        <li class="st-list__item">Возможность работы с различными файловыми хранилищами</li>
                                        <li class="st-list__item">Возможность использования внешних редакторов</li>
                                        <li class="st-list__item">Встроенный DICOM-Viewer</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="main-grid__item grid-item">
                            <div class="grid-item__content">
                                <div class="grid-item__title">Радиологическая информационная система</div>
                                <div class="grid-item__descr">
                                    <ul class="st-list">
                                        <li class="st-list__item">Поддержка стандарта DICOM, позволяющего подключить любой современный прибор</li>
                                        <li class="st-list__item">Готовые модули интеграции с внешними PACS ведущих производителей: AGFA, SIEMENS, PHILIPS  и пр.</li>
                                        <li class="st-list__item">Настройка контролей и логики импорта изображений</li>
                                        <li class="st-list__item">Возможность работы с различными файловыми хранилищами</li>
                                        <li class="st-list__item">Возможность использования внешних редакторов</li>
                                        <li class="st-list__item">Встроенный DICOM-Viewer</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="main-grid__item grid-item">
                            <div class="grid-item__content">
                                <div class="grid-item__title">Радиологическая информационная система</div>
                                <div class="grid-item__descr">
                                    <ul class="st-list">
                                        <li class="st-list__item">Поддержка стандарта DICOM, позволяющего подключить любой современный прибор</li>
                                        <li class="st-list__item">Готовые модули интеграции с внешними PACS ведущих производителей: AGFA, SIEMENS, PHILIPS  и пр.</li>
                                        <li class="st-list__item">Настройка контролей и логики импорта изображений</li>
                                        <li class="st-list__item">Возможность работы с различными файловыми хранилищами</li>
                                        <li class="st-list__item">Возможность использования внешних редакторов</li>
                                        <li class="st-list__item">Встроенный DICOM-Viewer</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="main-grid__item grid-item">
                            <div class="grid-item__content">
                                <div class="grid-item__title">Радиологическая информационная система</div>
                                <div class="grid-item__descr">
                                    <ul class="st-list">
                                        <li class="st-list__item">Поддержка стандарта DICOM, позволяющего подключить любой современный прибор</li>
                                        <li class="st-list__item">Готовые модули интеграции с внешними PACS ведущих производителей: AGFA, SIEMENS, PHILIPS  и пр.</li>
                                        <li class="st-list__item">Настройка контролей и логики импорта изображений</li>
                                        <li class="st-list__item">Возможность работы с различными файловыми хранилищами</li>
                                        <li class="st-list__item">Возможность использования внешних редакторов</li>
                                        <li class="st-list__item">Встроенный DICOM-Viewer</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-content__footer">
                    <div class="main-footer">
                        <div class="main-footer__section">
                            <div class="main-footer__title">Запросить <br> демо</div>
                        </div>
                        <div class="main-footer__section">
                            <div class="form-bl">
                                <form class="form-bl__form st-form" action="">
                                    <input class="st-form__input" placeholder="введите почту" type="text">
                                    <button class="st-form__button">Отправить</button>
                                </form>
                                <div class="form-bl__descr">Мы пришлем вам на указанную почту, ссылку на <br> демонстраниционную версия продукта</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}